.container{
    background-image:url("/homeBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 50;
    width: 82%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.h1{
    font-size: 60px;
    margin: 0 0 1.5rem 0;
  }

.h3{
    font-size: 30px;
    margin: 0 0 1.5rem  0;
}

.h4{
    font-size: 24px;
    margin: 0 0 1.5rem  0;
}

.button{
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    border: #20c997 solid 2px;
    color: #20c997;
    background-color: transparent;
    font-weight:bolder;
    font-size: 18px;
    margin-top: 1rem;
    text-decoration: none;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: #20c997;
}