.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
  
  .projectItem img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: transform 0.5s ease;
  }

  .projectItem img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transform-origin: center center;
  }


  .filterList{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .filterItem{
    margin-right: 1rem;
  }

  .filterItem:hover{
    cursor: pointer;
    color:#20c997;
  }

  .active{
    color:#20c997;
    border-bottom: 2px solid #20c997;
    padding-bottom: 2px;
    display: inline;
  }