.container{
    background-color: rgba(0,0,0,1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    overflow-y: auto;
    padding: 1.5rem 1.5rem;
}

.profile_pic{
    border-radius: 50rem;
    border: 6px solid #343a40;
}

.profile_pic:hover{
    cursor: pointer;
}

.name{
    padding-top: 1.5rem;
    font-weight: bolder;
}

.name:hover{
    cursor: pointer;
}

.verticalList{
    padding-top: 2rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verticalList li{
    padding-bottom: 1.25rem;
}

.verticalList button{
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 17px;
    transition: color 0.5s ease;
}

.verticalList button:hover{
    cursor: pointer;
    color:#20c997;
}

.horizontalList{
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
}

.horizontalList span{
    font-size: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
}


.horizontalList a{
    color:white;
    transition: color 0.5s ease;
}

.liAnchor:hover{
    color: #00A0DC;
}

.ltAnchor:hover{
    color: orange;
}

.gitAnchor:hover{
    color: #999999;
}

.active{
    color: #20c997!important;
}