.h2{
    color:white;
    margin-bottom: 3rem;
}

.card{
    background-color: #111418;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    width: 35rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

.yearsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #20c997;
    width: 6rem;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    padding-top: 0.2rem;
    margin-bottom: 1rem;
}

.years{
    margin: 0;
}

.uni{
    color:#20c997
}

.info{
    color: hsla(0,0%,100%,.5);
    line-height: 1.8;
    margin-bottom: 1rem;
}

.cardsContainer{
    display: flex;
}

.skillsContainer{
    display: flex;
    flex-direction: row;
}

.skill{
    margin-bottom: 1.5rem;
}

.skillsColumn{
    width:50%;
}

.skillHead{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0.5rem;
}

.loaders{
    display: flex;
    flex-direction: row;
}

.loader1{
    width: 72%;
    height: 0.5rem;
    background-color: #20c997;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.loader2{
    width: 16%;
    height: 0.5rem;
    background-color: #111418;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.button{
    background-color: #212529;
    color:#20c997;
    border: #20c997 2px solid;
    border-radius: 2rem;
    padding: 0.7rem 3rem;
    transition: color 0.5s ease,  background-color 0.5s ease;
}

.button:hover{
    color:white;
    background-color: #20c997;
}