.container{
    background-color: #212529;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}

.h1{
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.smallBar {
    width: 100px;
    height: 4px;
    background-color: #20c997;
}

.lineContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.h2{
    color:white;
    margin-bottom: 3rem;
}

.card{
    background-color: #111418;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    width: 35rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

.yearsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #20c997;
    width: 6rem;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    padding-top: 0.2rem;
    margin-bottom: 1rem;
}

.years{
    margin: 0;
}

.uni{
    color:#20c997
}

.info{
    color: hsla(0,0%,100%,.5);
    line-height: 1.8;
    margin-bottom: 1rem;
}

.cardsContainer{
    display: flex;
}

.skillsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill{
    margin-bottom: 1.5rem;
}

.skillHead{
    display: flex;
    justify-content: space-between;
    width:34rem;
    margin-bottom: 0.5rem;
}

.loaders{
    display: flex;
    flex-direction: row;
}

.loader1{
    width: 27.2rem;
    height: 0.5rem;
    background-color: #20c997;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.loader2{
    width: 6.8rem;
    height: 0.5rem;
    background-color: #111418;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.button{
    background-color: #212529;
    color:#20c997;
    border: #20c997 2px solid;
    border-radius: 2rem;
    padding: 0.7rem 3rem;
}

.button:hover{
    color:white;
    background-color: #20c997;
    
}